body {
    background-color: black;
}

.start-screen {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        height: 100vh;
    }
}

.start-label-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 315px;
        height: auto;

        &:hover {
            filter: brightness(1.1);
            cursor: pointer;
        }
    }
}

.start-game-text {
    position: absolute;
    font-size: 42px;
    cursor: pointer;
}