body {
    background-color: black;
}

.start-screen {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        height: 100vh;
    }
}

.start-label-container {
    position: absolute;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 22%;

        &:hover {
            filter: brightness(1.1);
            cursor: pointer;
        }
    }
}

.start-game-text {
    position: absolute;
    font-size: 42px;
    cursor: pointer;

    @media (max-height: 800px) {
        font-size: 36px;
    }

    @media (max-height: 600px) {
        font-size: 24px;
    }

    @media (max-height: 400px) {
        font-size: 18px;
    }
}