.game-info {
    position: absolute;
    bottom: 32px;
    left: 10%;
    right: 10%;

    @media(max-width:900px) {
        left: 0;
        right: 0;
        bottom: 0;
        height: 110px;
    }
}

.info-child {
    padding: 0 16px;
}